/* Dark */
#ni_home {
  background: url(../assets/home/outlined.svg);
  width: 24px;
  height: 24px;
  z-index: 10;
  filter: invert(1);
}

#ni_modules {
  background: url(../assets/modules/outlined.svg);
  width: 24px;
  height: 24px;
  z-index: 10;
  filter: invert(1);
}

#ni_actions {
  background: url(../assets/actions/outlined.svg);
  width: 24px;
  height: 24px;
  z-index: 10;
  filter: invert(1);
}

#ni_settings {
  background: url(../assets/settings/outlined.svg);
  width: 24px;
  height: 24px;
  z-index: 10;
  filter: invert(1);
}

/* Light */
.light_icon_mode {
  filter: invert(0) !important;
}

#ec_icon {
  background: url(../assets/ec-icon.svg);
  z-index: 40;
}

/* .fill {

} */