:root {
  --background: #141414;
  --font: #fff;
  --desc: #c9c9c9;
  --bright: #8d1d19;
  --dim: #1c1c1c;
  --dim-brigther: #3d3d3d;
  --icon: #494949;
  --icon-bc: #292929;
  --small-card: var(--icon-bc);
  --button: var(--background);
  --button-enabled: #535353;
  --desktop-navbar: #252525;
  --desktop-navicon: #3a3a3a;

  /* Locked Color */
  --lock: #fff;
  --font-family: 'Poppins', sans-serif;
}

* {
  background-color: var(--background);
  color: var(--font);
  font-family: var(--font-family);
  user-select: none;
}

body {
  margin: 0;
  overscroll-behavior: none;

  /* INFO: WebUI X insets */
  padding-top: var(--window-inset-top);
  padding-bottom: var(--window-inset-bottom);
}

a {
  text-decoration: none !important;
}

.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0;
  inset-inline: 0;
  padding: 30px 20px 30px 20px;
  font-size: 20px;
  z-index: 5;
}

.panel {
  display: block;
  animation: fade-in 0.2s;
  margin-bottom: 120px;
}

.card {
  margin: 0 15px 10px 15px;
  padding: 15px 15px;
  border-radius: 15px;
  color: var(--lock);
}

.content {
  padding-bottom: 5px;
}

.desc {
  color: var(--desc);
}

.center {
  justify-content: center;
  align-self: center;
  display: flex;
}

.small_card {
  background: var(--small-card);
  border-radius: 15px;
  padding: 5px 15px 0 15px;
  margin: 0px 15px 0 15px;
  padding-bottom: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.small_card_bg {
  background-color: var(--small-card);
}

/* Card type */
.bright {
  border: 5px solid var(--bright);
  background: var(--bright);
}

.brightc {
  background: var(--bright);
  word-break: break-word;
}

.dim {
  border: 5px solid var(--dim);
  background: var(--dim);
}

.dimc {
  background: var(--dim);
  word-break: break-word;
}

/* Animation KeyFrames */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes closeNav {
  0% { width: 100%; }
  100% { width: 0%; }
}

@keyframes openNav {
  0% { width: 0%; }
  100% { width: 100%; }
}

@keyframes closeNavDesktop {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

@keyframes openNavDesktop {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#page_content {
  flex: 1;
  overflow-y: auto;
}

