/* INFO: Code shared with settings page */
.dimc {
  background: var(--dim);
  word-break: break-word;
}

.panel {
  min-height: 100dvh;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
}

#lang_list {
  flex: 1;
  position: relative;
  min-height: 0;
}

.lang_loader_center {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
