

.card_animation {
  transition: transform 0.05s ease-in-out;
}

.card_animation:active {
  transform: scale(98%);
}

.language_card {
  background-color: var(--dim-brigther);
  font-size: 1.2em;
  padding: 15px;
  padding-left: 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* INFO: Code shared with actions page */
.slider {
  position: absolute;
  inset: 0; 
  cursor: pointer;
  background-color: var(--button);
  transition: 0.4s;
  border-radius: 34px;
  /* border: 2px solid var(--button); */
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 6px;
  bottom: 6px;
  transition: 0.4s;
  background-color: var(--desc);
  border-radius: 50%;
  transform: scale(0.8);
}

input:checked + .slider:before {
  transform: translateX(26px) scale(1);
}

input:checked + .slider {
  background-color: var(--button-enabled);
  transition: 0.6s;
}

.action_card {
  display: inline-block;
  width: 80%;
  transition: opacity 0.5s;
}

.action_card_title {
  font-size: 1.1em;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.action_card_description {
  font-size: 0.9em;
  padding-left: 5px;
  padding-bottom: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
